<section class="contact">
  <div class="flex flex--row flex--center">
    <div class="col-1">
      <div class="title">Let's Get in Touch</div>
    </div>
    <div class="col-1">
      <div class="info">
        <a href="mailto:sullivan1982@gmail.com">
          <span class="fa-stack fa-lg">
          <i class="fa fa-square-o fa-stack-2x"></i>
          <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
        </span>
        </a>
        <a href="https://github.com/sullivanLi">
          <span class="fa-stack fa-lg">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa-github fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        <a href="https://www.linkedin.com/in/sullivanlee">
          <span class="fa-stack fa-lg">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </div>
    </div>
  </div>
</section>