<section class="photos">
  <div class="title">...and Special Moments</div>
  <div class="flex flex--column flex--center">
    <div class="slider">
      <ul>
        <li>
          <img src="assets/img/gallery_1.jpg"/>
          <div class="desc">
            <div class="name">Oden Store, Taiwan</div>
            <div class="date">Jul 10, 2010</div>
          </div>
          <div class='progressbar'></div>
        </li>
        <li>
          <img src="assets/img/gallery_2.jpg"/>
          <div class="desc">
            <div class="name">Night Scene, Guam</div>
            <div class="date">Apr 11, 2014</div>
          </div>
          <div class='progressbar'></div>
        </li>
        <li>
          <img src="assets/img/gallery_3.jpg"/>
          <div class="desc">
            <div class="name">Shihding Hiking Trail, Taiwan</div>
            <div class="date">Nov 8, 2015</div>
          </div>
          <div class='progressbar'></div>
        </li>
        <li>
          <img src="assets/img/gallery_4.jpg"/>
          <div class="desc">
            <div class="name">Brandenburg Gate, Germany</div>
            <div class="date">Oct 7, 2015</div>
          </div>
          <div class='progressbar'></div>
        </li>
        <li>
          <img src="assets/img/gallery_5.jpg"/>
          <div class="desc">
            <div class="name">Seljalandsfoss, Iceland</div>
            <div class="date">Sep 30, 2015</div>
          </div>
          <div class='progressbar'></div>
        </li>
        <li>
          <img src="assets/img/gallery_6.jpg"/>
          <div class="desc">
            <div class="name">The Sun Voyager, Iceland</div>
            <div class="date">Oct 4, 2015</div>
          </div>
          <div class='progressbar'></div>
        </li>
        <li>
          <img src="assets/img/gallery_7.jpg"/>
          <div class="desc">
            <div class="name">Berlin Downtown, Germany</div>
            <div class="date">Oct 7, 2015</div>
          </div>
          <div class='progressbar'></div>
        </li>
      </ul>
    </div>
    <div class="indicator">
      <div class="player" id="backward">
        <span class="fa-stack fa-lg">
         <i class="fa fa-square fa-stack-2x"></i>
         <i class="fa fa-backward fa-stack-1x fa-inverse"></i>
        </span>
      </div>
      <div class="player" id="play">
       <span class="fa-stack fa-lg">
         <i class="fa fa-square fa-stack-2x"></i>
         <i class="fa fa-pause fa-stack-1x fa-inverse"></i>
        </span>
      </div>
      <div class="player" id="forward">
        <span class="fa-stack fa-lg">
         <i class="fa fa-square fa-stack-2x"></i>
         <i class="fa fa-forward fa-stack-1x fa-inverse"></i>
        </span>
      </div>
    </div>
  </div>
</section>
